/* GENERAL */
:root {
    --vt: calc(100vw / 6);
    --hz: calc(100vh / 10);
}

::selection {
    background-color: var(--primary);
    color: var(--background);
}

/* TYPOGRAPHY */
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1rem;
}

/* HEADER*/
header {
    width: calc(var(--vt) * 6);
    height: var(--hz);
    min-height: 50px;

    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--accent);
}

nav {
    width: 25px;
    height: 100%;
    margin: auto 0;

    position: absolute;
    z-index: 2;
    left: 20px;

    background-image: url("/Images/Menu.svg");
    background-size: 25px;
    background-position: center center;
    background-repeat: no-repeat;
}

.logo {
    width: 200px;
    height: 100%;
    margin: 0 auto;

    align-self: center;
    
    background-image: url("/Images/LogoWhite.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

/* MAIN */
main {
    width: calc( var(--vt) * 4);
    margin: calc(var(--hz) * 1.5) var(--vt) var(--hz);

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 30px 0;
}

main > img {
    width: 100%;
    max-width: 400px;
    height: auto;

    justify-self: center;
}

.title {
    order: 0;

    width: 100%;
    height: auto;
}

.image-container {
    order: 1;

    width: inherit;
    height: 250px;

    background-position: center;
}

.el-1 {
    order: 2;
}

.el-2 {
    order: 3;
}

.el-3 {
    order: 4;
}

.design-image-container {
    width: inherit;
    height: 250px;

    background-position: center; 
}

#menu-dropdown {
    visibility: hidden;

    width: 100vw;
    height: auto;

    padding: 20px;
    list-style: none;
    z-index: 999;
    position: absolute;

    top: 0;
    left: 0;

    background-color: var(--accent);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#menu-dropdown a {
    color: var(--background);
    font-size: 3rem;
}

#close {
    width: 100%;
    height: 50px;

    background-image: url("/Images/Close.svg");
    background-position: center right;
}