@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* VARIABLES AND PSEUDO*/
:root {
    --background: #F8F7FF;
    --primary: #272838;
    --secondary: #8B8982;
    --accent: #6C63FF;
    --accent-active: #8B85FF;
}

::selection {
    background-color: var(--primary);
    color: var(--background);
}

/* DIRECT ELEMENTS */
* {
    box-sizing: border-box;
}

h1,h2, p, a, ul, li {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 400;
}

p, a, li {
    font-weight: 400;
}

body {
    padding: 0;
    margin: 0;

    background-color: var(--background);
}

/* UTILITY CLASSES */
.accent-link {
    text-decoration: none;
    color: var(--accent);
}

.bold {
    font-weight: 600;
}

.contain {
    background-size: contain;
}

.pointer {
    cursor: pointer
}

.no-repeat {
    background-repeat: no-repeat;
}

/* SHARED COMPONENTS */
.button-container {
    min-height: 100px;

    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

button {
    background-color: var(--accent);
    border: 0;

    font-family: "Poppins", sans-serif;
    color: var(--background);
}

button:hover {
    background-color: var(--accent-active);
}

/* PAGE-SPECIFIC IDs*/
#home-image {
    background-image: url("/Images/WebDeveloper.svg");
}

#quote-image {
    background-image: url("/Images/Wallet.svg");
}

#portfolio-image-1 {
    background-image: url("/Images/test11.png");
}

#portfolio-image-2 {
    background-image: url("/Images/test169.png");
}

#portfolio-image-3 {
    background-image: url("/Images/test916.png");
}

#contact-image {
    background-image: url("/Images/Call.svg");
}

#design-image-1 {
    background-image: url("/Images/Step1.svg");
}

#design-image-2 {
    background-image: url("/Images/Step2.svg");
}

#design-image-3 {
    background-image: url("/Images/Step3.svg");
}

#design-image-4 {
    background-image: url("/Images/Step4.svg");
}

#under-construction {
    background-image: url("/Images/UnderConstruction.svg");
}